<h1>Dealer</h1>
<h1>STATUS:{{status}}</h1>
<div *ngIf="isIntialCall" class="container">
  <div>
    <img height="200px" width="150px" src={{dealerCards[0].imagePath}}>
    <p>{{dealerCards[0].name}}</p>
  </div>
  <div>
    <img height="200px" width="150px" src="../assets/red_back.png">
  </div>
</div>
<div *ngIf="!isIntialCall" class="container">
  @for (item of dealerCards; track $index) {
    <div>
      <img height="200px" width="150px" src={{item.imagePath}}>
      <p>{{item.name}}</p>
    </div>
    
  }
  </div>
<h1>Player</h1>
{{playerPoints}}
<div class="container">
@for (item of playerCards; track $index) {
  <div>
    <img height="200px" width="142.86px" src={{item.imagePath}}>
    <p>{{item.name}}</p>
  </div>
}
</div>
<button (click)="intialPlay()">Play</button>
<button  [disabled]="status!==''" (click)="hit()">Hit</button>
<button [disabled]="status!==''" (click)="stand()">Stand</button>
<!-- <img src="../assets/clubs_10.svg"> -->